body {
  background-color: #e8ecf3;
}

#copy {
  background-color: #0c1226;
  border-radius: 25px;
  color: #ffffff;
  display: None;
  padding: 10px;
  margin-bottom: 4px;
  width: 400px;
}

#mid {
  padding: auto 50px;
}

.divCol {
  background-color: #ffffff;
  border-radius: 25px;
  padding: 20px;
  margin: auto 10px;
}

.color {
  height: 150px;
}

@media only screen and (max-width: 750px) {
  .leftAlign0 {
    margin-left: 60px;
  }
  .leftAlign2 {
    margin-left: 60px;
  }
  .leftAlign4 {
    margin-left: 200px;
  }
}

@media only screen and (min-width: 800px) {
  .leftAlign0 {
    margin-left: 100px;
  }
  .leftAlign3 {
    margin-left: 200px;
  }
}

@media only screen and (min-width: 1190px) {
  .leftAlign0 {
    margin-left: 70px;
  }
  .leftAlign3 {
    margin-left: 10px;
  }
}
